<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
      <h2>User info</h2>
        <% if current_user.user_image.attached? %>
          <%= image_tag current_user.user_image, size: "100x100" %>
        <% else %>
          <%= image_tag 'no_image', size: "100x100" %>
        <% end %>
        <table>
          <tbody>
            <tr>
              <th>name</th>
            </tr>
            <tr>
              <th><%= current_user.name %></th>
            </tr>
            <tr>
              <th>introduction</th>
            </tr>
            <tr>
              <th><%= current_user.introduction %></th>
            </tr>
          </tbody>
        </table>
        <div class="row">
          <a class="btn btn-outline-secondary" href="<%= edit_user_path(current_user) %>" >
            <i class="fas fa-user-cog"></i>
          </a>
        </div>
      
        <h2>New book</h2>
          <%= form_with model: @book do |f| %>
            <div>
              <%= f.label :title, 'Title' %>
                <%= f.text_field :title %>
            </div>
            <div>
              <%= f.label :body, 'Opinion' %>
                <%= f.text_area :body %>
            </div>
            <div>
              <%= f.submit 'Create Book' %>
            </div>
          <% end %>
    </div>
          <div class="col-md-8 offset-md-1">
            <h2>Users</h2>
              <table class="table table-hover table-inverse">
                <tbody>
                  <% @users.each do |user| %>
                    <tr>
                      <th>
                        <% if user.user_image.attached? %>
                          <%= image_tag user.user_image, size: "100x100" %>
                        <% else %>
                          <%= image_tag 'no_image', size: "100x100" %>
                        <% end %>
                      </th>
                      <th><%= user.name %></th>
                      <th><a button type="button" class="btn btn-link" href="<%= user_path(user) %>">Show</button></a></th>
                    </tr>
                  <% end %>
                </tbody>
              </table>
          </div>
  </div>
</div>