<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
      <%= render 'books/pfbooknew', book_new: @book_new, user_book: @user_book %>
    </div>
    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
        <table class="table table-hover table-inverse">
          <tbody>
              <tr>
                <th>
                  <a href="<%= user_path(@book.user) %>">
                    <% if @book.user.user_image.attached? %>
                      <%= image_tag @book.user.user_image, size: "100x100" %>
                    <% else %>
                      <%= image_tag 'no_image', size: "100x100" %>
                    <% end %>
                  </a>
                </th>
                <th><a href="<%= book_path(@book) %>"><%= @book.title %></a></th>
                <th><%= @book.body %></th>
                <% if @book.user == current_user %>
                  <th>
                    <a button type="button" class="btn btn-success" href="<%= edit_book_path(@book) %>">Edit</button>
                    </a>
                  </th>
                  <th>
                    <%= link_to 'Destroy', book_path(@book), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-danger" %>
                  </th>
                <% else %>
                  <th></th>
                  <th></th>
                <% end %>
              </tr>
          </tbody>
        </table>
    </div>
  </div>
</div>