<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/d1b2e80093.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
    <div class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <%= link_to "Bookers", root_path %>
          <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
              <% if user_signed_in? %>
                <li>
                  <a class="nav-link text-light" href="<%= user_path(current_user.id) %>" >
                    <i class="fa-solid fa-home"></i>
                    Home
                  </a>
                </li>
                <li>
                  <a class="nav-link text-light" href="<%= users_path %>" >
                    <i class="fa-solid fa-users"></i>
                    Users
                  </a>
                </li>
                <li>
                  <a class="nav-link text-light" href="<%= books_path %>" >
                    <i class="fa-solid fa-book-open"></i>
                    Books
                  </a>
                </li>
                <li>
                  <%= link_to destroy_user_session_path, method: :delete, class: "nav-link text-light" do %>
                    <i class="fa-solid fa-sign-out-alt"></i>
                    Log out
                  <% end %>
                </li>
              <% else %>
                <li>
                  <a class="nav-link text-light" href="<%= root_path %>" >
                    <i class="fa-solid fa-home"></i>
                    Home
                  </a>
                </li>
                <li>
                  <a class="nav-link text-light" href="<%= about_path %>" >
                    <i class="fa-solid fa-link"></i>
                    About
                  </a>
                <li>
                  <a class="nav-link text-light" href="<%= new_user_registration_path %>" >
                    <i class="fa-solid fa-user-plus"></i>
                    Sign up
                  </a>
                </li>
                <li>
                  <a class="nav-link text-light" href="<%= new_user_session_path %>" >
                    <i class="fa-solid fa-sign-in-alt"></i>
                    Log in
                  </a>
                </li>
              <% end %>
            </ul>
          </div>
      </div>
    </div>

    </header>
    <%= yield %>
      <footer>
        <div class="container">
          <div class="row">
            <div class="mx-auto">
              <p>CopyRight Infratop.inc</p>
            </div>
          </div>
        </div>
      </footer>
  </body>
</html>
